.tmfi{width: 100%;
    padding-top: 30px;
background-color:rgb(219, 212, 212);}

.img_div{display: flex;
    margin: 1.5rem;
    width: 168px;
    height: 170px;
    background-color: #fff;
    border-radius: 12.5px;
justify-content: center;
padding-top: 20px;}

    img{border-radius: 12.5px;}

#imgback{display: flex;
justify-content: space-evenly;}

#ocv{width: 50%;
margin-left: 370px;
margin-top: 300px;
padding-bottom: 50px;}

#imgback2{display: flex;
justify-content: space-evenly;}

#last{background-color:rgb(219, 212, 212) ;}