.tmfi{width: 100%;
    padding-top: 30px;
background-color:rgb(243, 240, 240);}

.img_div{display: flex;
    margin: 1.5rem;
    width: 168px;
    height: 170px;
    background-color: #fff;
    border-radius: 12.5px;
justify-content: center;
padding-top: 20px;
box-shadow: 4px 4px 4px black;}

img{border-radius: 12.5px;}

#imgback{display: flex;
justify-content: space-evenly;}

#ocv{width: 50%;
margin-left: 370px;
margin-top: 300px;
padding-bottom: 50px;}

#imgback2{display: flex;
justify-content: space-evenly;
margin-bottom: 250px;
margin-top: 50px;}

#last{background-color:rgb(243, 240, 240)
;display: flex;
justify-content: center;}

#message_box{color: rgb(107, 105, 105);
border-color: #fff;}

#text_box{height: 20px;
width: 450px;
border-color: #fff;}

#text_email{height: 20px;
width: 450px;
border-color: #fff;}

#details{background-color:rgb(243, 240, 240)
;height: 400px;
width: 500px;}

#form{background-color:rgb(243, 240, 240)
;height: 400px;
width: 500px;}

.footer{display: flex;
justify-content: space-evenly;
background-color:rgb(243, 240, 240)}

#copy{margin-left: 155px;}

#cont{padding-top: 30px;
color: rgb(107, 105, 105):}